@import url(//db.onlinewebfonts.com/c/db7c22c7cd9995cd1cf628cbb83af43c?family=Futura);

@font-face {font-family: "Futura"; src: url("//db.onlinewebfonts.com/t/db7c22c7cd9995cd1cf628cbb83af43c.eot"); src: url("//db.onlinewebfonts.com/t/db7c22c7cd9995cd1cf628cbb83af43c.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/db7c22c7cd9995cd1cf628cbb83af43c.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/db7c22c7cd9995cd1cf628cbb83af43c.woff") format("woff"), url("//db.onlinewebfonts.com/t/db7c22c7cd9995cd1cf628cbb83af43c.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/db7c22c7cd9995cd1cf628cbb83af43c.svg#Futura") format("svg"); }

body {
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
}



/* landing page styling */

#landing-page-body {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 6vh;
  bottom: 6vh;
  background-image: url('chicagoBackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;

}

#home-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  width: 80%;
  height: 80%;
  background: rgba(23, 22, 22, 0.7);

}


#home-right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}


#home-left-text-container {
  display: flex;
  width: 30%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #080808;
  width: 70%;
}



#home-quote {
  color: white;
  font-family: 'Futura';
  font-size: 200%;
}

#home-profpic {
  width: 50%;
}

#home-logo {
  width: 40%

}



/* navbar styling */
#navbar {
  display: flex;
  position: fixed;
  top: 0;
  justify-content: space-between;
  background-color: #2b2b2b;
  height: 6vh;
  align-items: center;
  width: 100%;

}

/* footer styling */

#footer {
  display: flex;
  position: fixed;
  bottom: 0;
  justify-content: space-between;
  background-color: #2b2b2b;
  height: 6vh;
  align-items: center;
  width: 100%;

}
